.clear{
    clear: both;
}


#calendar{
    width: 210px;
    height: 250px;
    background: silver;

    margin: 10px;
    padding: 10px;
}


.month{
    height: 40px;
    background: black;
    color: white;
    font-size: 30px;
    text-align: center;

    padding: 10px;
       
}


.weekdays{
    background: grey;
    color: burlywood;
    text-align: center;
}


.weekdays .weekdays{
    width: 30px;
    height: 25px;
    text-align: center;
    float: left;   
}


.day{
    color: blue;
    width: 210px; 
}



.day .day{
    width: 30px;
    height: 30px;
    text-align: center;
    float: left;     
}


.weekends{
    color: crimson;
    width: 30px;
    height: 30px;
    text-align: center;
    float: left;
}


.Today{
    background: brown;
    color: black;
    width: 30px;
    text-align: center;
    float: left;
}





   





   
