#bottom{
    background: center center / contain no-repeat  url(./img/bottom2.jpg);
    width: 1500px;
    height: 1000px;
    position: absolute;
    
    z-index: 10;   
}

.fish1{
    width: 100px;
    position: absolute;
    background: no-repeat;
    top: 50%;
    left: 50%;
    z-index: 11;
}

.koral4{
    width: 500px;
    position: absolute;
    top: 80%;
    left: 65%;
    z-index: 11;
}

.fish2{
    width: 90px;
    position: absolute;
    top: 30%;
    right: 76%;
    z-index: 11;
}

.fish3{
    width: 100px;
    position: absolute;
    top: 55%;
    left: 7%;
    z-index: 12;
}

.fish4{
    width: 150px;
    position: absolute;
    top: 27%;
    left: 80%;
    z-index: 11;
}

.fish5{
    width: 150px;
    position: absolute;
    top: 80%;
    left: 75%;
    z-index: 12;
}

.fish6{
    width: 120px;
    position: absolute;
    top: 70%;
    left: 35%;
    z-index: 11;
}

.koral{
    width: 200px;
    position: absolute;
    top: 50%;
    right: 85%;
    z-index: 11;
}

.duza{
    width: 150px;
    position: absolute;
    top: 40%;
    right: 10%;
    z-index: 11;
}

.duza2{
    width: 200px;
    position: absolute;
    top: 10%;
    right: 50%;
    z-index: 11;
}

.turtless{
    width: 150px;
    position: absolute;
    top: 30%;
    right: 35%;
    z-index: 11;
}

.turtles{
    width: 150px;
    position: absolute;
    top: 70%;
    right: 40%;
    z-index: 11;
}

.koral3{
    width: 150px;
    position: absolute;
    top: 85%;
    right: 25%;
    z-index: 12;
}

.koral2{
    width: 150px;
    position: absolute;
    top: 85%;
    right: 30%;
    z-index: 12;
}




