body .box{
    height: 1200px;
}



.box {
    background-color: red;  /* Цвет фона */
    background-image: url(monstr4.jpg); /* Изображение фона */
    background-repeat: no-repeat;
    /*
        по-repeat - отключает повторные по оси X и Y
        repeat-X повторение будет по оси Х
        repeat-Y повторение будет по оси Y

    */

    /* 

        background-attachment: fixed;
        фиксирует изображение на фоне относительно облости видимости

    */

    background-position: center center;
    /*
    
        по умолчанию кордината 0 0 (X Y) 
        center (50%)
        Для X - left (0%) \ right (100%) 
        Для Y - top (0%) \ bottom (100%)

        Можно задавать в % - тогда кординаты будут вычилсяться относительно родительского элемента.

        Если задать в px - то кордината будет отталкиваться от левого верхнего угла родителя.

    */

    background-size: cover  ;

    /*
    
        Значение по умолчанию - auto.

        cover - изменяет размер картинки, так что бы он полностью заполнил фон элемента.

        contain - изменяет размер картинки, так что бы она поместилась на фоне элемента.

        Если передать значение в %, то нужно передавать сразу 2 значения - высоты и ширины.

        50% auto.

        Также можно задать в px.

        200px  300px.

    */


    /* Краткая запись */

    background: center center / contain no-repeat black url(monstr4.jpg);

    /* 
        
        "Множественная запись - каждый новый через запятую" 
        
        background: url('monstr4.jpg'), url('monstr5.jpg'),.....

    */



    height: 900px;


}


[data-name]{

    height: 40px;
    background-color: blue;

}

[data-name="block2"]{

    background-color: purple;

}

div div{ /* Селектор потомка */
    color: red;
}

/* Комбинирование селекторов */

div.hello{

}


/* Дочерние селекторы */

div > b{
    color: blue;
}
/* 
    Будит искать все div, а потом все b лежащие в div на первом уровне вложенности 

*/

/* Сестренский селектор */

h1 + p {  /* Выделит следующий сестринский элемент за h1 */
    text-decoration: underline;
}

h1 ~ p { /* Выделит все сестринские элементы за h1 */
    text-transform: uppercase;
    
    font-weight: 300;

    color: rgb(19, 197, 165);
}

/*

    Варианты записи HEX цветов:
    1) #0400ff
    2) #0400ff00 - цвет с прозрачностью
    3) #fff - сокрощенная запись если цвет позволяет

    RGB - запись цвета:
    rgb(0, 0, 0)

    rgba(0, 0, 0, 0.5) - Цвет с прозрачностью 50%.

    rgbf(0, 0, 0, .5) - Краткая запись прозрачности.

    hsl(градус, насыщеность, яркость.)
    hsla(градус, насыщеность, якрость, прозрачность.)

*/

/* 
    Относительные единицы измерения:

    1) em - это размер взятый у родителя и умноженный на коофициент указанный у em
        Нарпимер:  у родителя  font-size: 20px;
        у потомка font-size: 2em (2 * 20px = 40px)
        
    2) rem - это размер взятый у элемента html и умноженный на коефициент указаный в rem.
        Например: у html font-size: 25px;    
        у потомка font-size: 2rem (2 * 25px = 50px)




*/

h1{
    font-size: 30px!important;
}



